# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Pokymon.iml
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Developer\Unity\Curso2021\curso-unity-2021\Pokymon\.idea\.idea.Pokymon\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
